.Block {
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
    border-spacing: 0;
    border: 1px solid #aaa;
    text-align: center;
    vertical-align: middle;
    font-size: 30px;
    cursor: pointer;
    background: #fff;
    padding: 0;
}

.Block:focus {
    outline: none;
}

.Block.active {
    background: #85C1E9;
}

.Block.marked {
    background: #D4E6F1;
}

.Block.sameNumber {
    background: #D6DBDF;
}

.Block.error {
    background: tomato;
}

.borderLeft {
    border-left: 2px solid #000;
}

.borderRight {
    border-right: 2px solid #000;
}

.borderTop {
    border-top: 2px solid #000;
}

.borderBottom {
    border-bottom: 2px solid #000;
}
